@model CinemaProject.Data.Entities.Movie;

<h1>Add new movie...</h1>

<form asp-action="Create" method="post" class="row g-3">
    <div class="col-5 m-5">
        <label asp-for="Name" class="form-label text-white">Name</label>
        <input asp-for="Name" type="text" class="form-control transparent" placeholder="Enter name">
    </div>
    <div class="col-5 m-5">
        <label asp-for="TicketPrice" class="form-label text-white">Price</label>
        <input asp-for="TicketPrice" type="number" class="form-control transparent" placeholder="Enter price">
    </div>
    <div class="col-11 m-5">
        <label asp-for="Description" class=" form-label text-white">Description</label>
        <textarea asp-for="Description" class="form-control transparent" rows="3" placeholder="Enter description"></textarea>
    </div>
    <div class="col-3 m-5">
        <label asp-for="GenreId" class="form-label text-white">State</label>
        <select asp-for="GenreId" asp-items="@ViewBag.Categories" class="form-select transparent">
            <option disabled selected>Choose category...</option>
        </select>
    </div>
    <div class="col-3 m-5">
        <label asp-for="ImageUrl" class="form-label text-white">Image URL</label>
        <input asp-for="ImageUrl" type="url" class="form-control transparent" placeholder="Enter image URL address">
    </div>
    <div class="col-2 m-5">
        <div class="form-check">
            <input asp-for="IsAvailable" class="form-check-input transparent" type="checkbox">
            <label asp-for="IsAvailable" class="form-check-label text-white">
                In Stock
            </label>
        </div>
    </div>
    <div class="col-5 m-5">
        <a asp-action="Index" class="btn btn-dark w-100">Back</a>
    </div>
    <div class="col-5 m-5">
        <button type="submit" class="btn btn-danger w-100">Create</button>
    </div>
</form>
