@model List<DataAccess.Data.Entities.Movie>;

<div class="card text-center bg-transparent text-white">
    <div class="card-header border-bottom border-light">
        My Cart
    </div>
    <div class="card-body">
        <h5 class="card-title text-light">Tickets to be booked:</h5>

        <ul class="list-group">
            @foreach (var i in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center bg-black text-white border-bottom border-danger">
                    @i.Name
                    <span class="badge bg-danger rounded-pill">@i.TicketPrice$</span>
                </li>
            }
        </ul>

        <div>
            <a asp-controller="Bookings" asp-action="Create" class="btn btn-danger mt-3">Confirm</a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-light mt-2">Continue Booking</a>
        </div>
    </div>
    <div class="card-footer text-muted bg-black border-top border-light">
        Total: <span class="badge bg-danger">@Model.Sum(x => x.TicketPrice)$</span>
    </div>
</div>
